html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-image: url("../img/background_gradient.png");
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-color: #f1f2f1;
}

body {
	margin: 0 auto;
	padding: 0 5%;
	min-width: 700px;
	max-width: 1100px;
	font-size: 100.01%;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Helvetica, sans-serif;
}

h1 {
	font-size: 1.5em;
	text-align: left;
	margin: 1em 0 0.5em 0;
	padding: 0 0 0 1em;
	color: #aa3300;
	border-bottom: 0.1em solid #dedede;
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
	border: none;
}

h1 a:hover, h1 a:active, h1 a:focus, h2 a:hover, h2 a:active, h2 a:focus, h3 a:hover, h3 a:active, h3 a:focus {
	border-bottom: 0.1em solid #aa3300;
}

h1.mainTitle {
	font-family: monospace;
	font-weight: bold;
	font-size: 0.9em;
	color: #000000;		
	text-align: left;
}

h3.styled, h3, h2 {
	padding: 0;
}

h3.styled {
	margin: 1em 0.5em 0.5em 0;	
	font-size: 1em;
	border-bottom: 0.1em solid #dedede;	
	border-top: none;
	text-align: right;
	color: #aa3300;	
}

h2 {
	margin: 1em 0 0.5em 0;
	font-size: 1.2em;
	text-align: center;
	color: #aa3300;	
}

h3 {
	margin: 1em 0 0.5em 0;	
	font-size: 1em;
	border-top: 0.1em solid #dedede;	
	text-align: left;
	color: #000000;	
}

p {
	margin: 0.5em 0;
	padding: 0;
}

p, li, th, td, legend, dt, dd {
	font-size: 0.9em;
}

li li, li p {
	font-size: 1em;
}

ul {
	list-style-type: square;
}

ul.noBullet {
	list-style-type: none;
	padding-left: 0.5em;
	margin-left: 0.5em;
}

li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

form {
	margin: 0;
	padding: 0;
}

form p {
	margin: 1.2em 0.5em;
}

label {
	font-weight: bold;
}

fieldset {
	border: 0.1em solid #dedede;
	margin: 1em 0;
	padding: 0;
}

input.text, textarea, select {
	border-top: 1px solid #333333;
	border-left: 1px solid #333333;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
}

input.radio {
	margin-right: 0.5em;
}

input.button {
	background-color: #aa3300;
	border: 1px solid #aa3300;
	color: #ffffff;
	font-weight: bold;
	margin: 0 0.5em;
}

form .buttons {
	text-align: center;
}

form .buttons input {
	margin: 0 0.5em;
}

table.generic {
	margin: 1em 0;
}

.calendar table, table.generic {
	width: 100%;
	border: 1px solid #000000;
	background-color: #ffffff;
}

.calendar caption, .calendar table th, table.generic th {
	background-color: #aa3300;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.calendar table th a:link, table.generic th a:link, .calendar table a:visited, table.generic th a:visited {
	color: #ffffff;
	border-bottom: 0.1em solid #ffffff;
	text-decoration: none;
}

.calendar table th a:hover, table.generic th a:hover, .calendar table a:active, table.generic th a:active, .calendar table a:focus, table.generic th a:focus {
	border-bottom: none;
	text-decoration: none; 
}

table.generic caption {
	text-align: center;
	font-size: 0.9em;
}

.calendar table th, .calendar table td, table.generic th, table.generic td {
	padding: 0.5em;
	border-bottom: 0.1em solid #aa3300;
}

table.generic th.icon, table.generic td.icon {
	text-align: center;
	width: 24px;
}

table.generic th.icon_double, table.generic td.icon_double {
	text-align: center;
	width: 84px;
}

table.generic td.icon a, table.generic td.icon_double a {
	border: none;
	text-decoration: none;
}

table.generic td.icon_double a {
	margin: 0 0.25em;
}

dl.table-display {
	width: 29.1em;
	margin: 2em auto;
	text-align: left;
	padding: 0;
	overflow: auto;
}

dl.table-display dt {
	clear: both;
	width: 10em;
	float: left;
	margin: 0;
	padding: 0.5em;
	border-top: 1px solid #dedede;
	font-weight: bold;
}

dl.table-display dd {
	float: left;
	width: 20em;
	margin: 0;
	padding: 0.5em;
	border-top: 1px solid #dedede;
	background-color: #ffffff;	
}

/*
	Gallery risorse
*/

dl.gallery {
	float: left;
	border: 1px solid #dedede;
	width: 120px;
	text-align: center;
	padding: 10px 0;
	margin: 0.5em 0.8em 0.5em 0;
}

dl.gallery p {
	margin: 0.5em 0;
	padding: 0;
	font-size: 1em;
}

dl.gallery dt {
	font-weight: bold;
	margin: 0 10px;
}

dl.gallery dt a {
	text-decoration: none;
	border: none;
}

dl.gallery dt.options {
	margin: 0.5em 0;
}

dl.gallery dt.options a {
	margin: 0 0.25em;
}

dl.gallery dt.image {
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border: 1px solid #dedede;
}

dl.gallery dt img {
	/*  border: 1px solid #dedede;
	width: 100px;
	height: 100px; */
}

dl.gallery dt.options img {
	border: none;
}

dl.gallery dd {
	margin: 0 10px;
	padding: 0;
	background-color: #ffffff;
	height: 8em;
	overflow: auto;
}

/*
	Fine Gallery risorse
*/

/*
	Maxi Button
*/

dl.maxiButton {
	float: left;
	border: 1px solid #dedede;
	width: 120px;
	text-align: center;
	padding: 10px 0;
	margin: 0.5em 0.8em 0.5em 0;
}

dl.maxiButton p {
	margin: 0.5em 0;
	padding: 0;
	font-size: 1em;
}

dl.maxiButton dt {
	font-weight: bold;
	margin: 0 10px;
}

dl.maxiButton dt a {
	text-decoration: none;
	border: none;
}

dl.maxiButton dt.name {
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border: 1px solid #dedede;
}

dl.maxiButton dd {
	margin: 0 10px;
	padding: 0;
	background-color: #ffffff;
	height: 8em;
	overflow: auto;
}

/*
	Fine Maxi Button
*/


a:link, a:visited {
	color: #aa3300;
	border-bottom: 0.1em solid #aa3300;
	text-decoration: none; 
}

a:hover, a:active, a:focus {
	border-bottom: none;
	text-decoration: none; 
}

a.noborder, img.noborder {
	border: 0 none;
	border-bottom: 0 none;
}

a img {
	border: none;
	border-bottom: none;
}

.noscreen {
	position: absolute;
	top: -1000em;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.undoNoscreen {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
}

.pager {
	text-align: center;
}

.pager input {
	margin: 0 0.25em;
}

.paddingLateral05 {
	padding: 0 0.5em;
}

.tab-container {
	border: 1px solid #dedede;
	background-color: #ffffff;
}

/*
	Nodi / Alberi
*/
.page, .category {
	list-style-type: none;
	margin: 0.5em 0;
	padding: 0 0 0 24px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../img/icons/node-leaf.png");	
}

.node_root {
	background-color: gold;	
}

.node_open {
	background-image: url("../img/icons/node-open.png");
}

.node_closed {
	background-image: url("../img/icons/node.png");	
}


/* USARE CON PARSIMONIA */
.monospace {
	font-family: Garamond, monospace;
}

.important {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.centerText {
	text-align: center;
}

.rightText {
	text-align: right;
}

.whiteBox {
	background-color: #ffffff;	
	border: 1px solid #dedede;
	padding: 0.2em 0;
}

.clear {
	clear: both;
}

.signature {
	font-family: monospace;
	font-weight: bold;
	font-size: 0.9em;
	color: #000000;		
	text-align: left;
	margin: 1em 0 0.5em 0;
}

.signature a:link, .signature a:visited {
	color: #000000;
	border-bottom: none;	
}

.signature a:hover, .signature a:active, .signature a:focus {
	border-bottom: 0.1em solid #000000;	
}

/** Hoofed **/
span.HoofEd_tools {
	display: block;
}

/** Messaggi **/
.message {
	background-color: #ffffff;
	border: 1px solid #dedede;
	padding: 2em 40px;
	margin: 0.5em 0;
	background-position: 4px 50%;
	background-repeat: no-repeat;
}

.message_confirm {
	background-image: url("../img/icons/32x32/dialog-information.png");
	border: 1px solid #3d8a41;	
	background-color: #ffffff;
	color: #3d8a41;
}

.message_error {
	background-image: url("../img/icons/32x32/dialog-warning.png");
	border: 1px solid #b8311b;	
	background-color: #ffffff;
	color: #b8311b;
}

.message h2, .message h3, .message h4, .message h5, .message h6 {
	font-size: 1em;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: right;
}

.message_confirm h2, .message_confirm h3, .message_confirm h4, .message_confirm h5, .message_confirm h6 {
	border-bottom: 1px dashed #3d8a41;
	color: #3d8a41;	
}

.message_error h2, .message_error h3, .message_error h4, .message_error h5, .message_error h6 {
	border-bottom: 1px dashed #b8311b;
	color: #b8311b;	
}

/** Boh.. **/
.contentAttributeBox {
	/*background-color: #f9f9f9;*/
	padding: 0.2em 0 0.4em 0;
	border-bottom: 1px dashed #dedede;
}

.login {
	margin: 4em auto;
	width: 50%;
}

.login fieldset {
	padding-right: 180px;
	background-color: #ffffff;
	background-image: url("../img/logo_jAPS.png");
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.inlineNote {
	font-size: 1.1em; 
	font-family: monospace;
	margin-left: 1em;
}